<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
    <head th:insert="~{fragment/IndexFragment.html::baseHeader}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
    </head>
    <body>

        <div th:replace="~{fragment/IndexFragment.html::#prefix}">页眉</div>

        <div th:replace="~{fragment/IndexFragment.html::#mainMenuAre}">header</div>




        <div class="product-big-title-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-bit-title text-center">
                            <h2>购物车</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Page title area -->


        <div class="single-product-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-sidebar">
                            <h2 class="sidebar-title">搜索</h2>
                            <form action="#">
                                <input type="text" placeholder="Search products...">
                                <input type="submit" value="Search">
                            </form>
                        </div>


                    </div>

                    <div class="col-md-8">
                        <div class="product-content-right">
                            <div class="woocommerce">
                                <form method="post" action="#">
                                    <table cellspacing="0" class="shop_table cart">
                                        <thead>
                                            <tr>
                                                <th class="product-remove">删除</th>
                                                <th class="product-thumbnail">&nbsp;</th>
                                                <th class="product-name">名称</th>
                                                <th class="product-price">单价</th>
                                                <th class="product-quantity">数量</th>
                                                <th class="product-subtotal">合计</th>
                                            </tr>
                                        </thead>
                                        <tbody th:each="iter, goodsIndex:${shopCart}">
                                            <!--              购物车功能模块                -->
                                            <tr class="cart_item">
                                                <td class="product-remove">
                                                    <a title="从购物车中移除" class="remove" th:href="@{/cart/drop(id=${iter.getId()},goodsId=${iter.getGoodsId()}, quantity=${iter.getQuantity})}">×</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a th:href="@{/single-product(id=${iter.getGoods().getId()})}" ><img width="145" height="145"
                                                                                       alt="poster_1_up"
                                                                                       class="shop_thumbnail"
                                                                                       th:src="@{${iter.getGoods().getCover()}}"></a>
                                                </td>

                                                <td class="product-name">
                                                    <a th:href="@{/single-product(id=${iter.getGoods().getId()})}" th:text="${iter.getGoods().getName()}"></a>
                                                </td>

                                                <td class="product-price">
                                                    <span class="amount" th:text="@{'￥'+${iter.getGoods().getPrice()}}"></span>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity buttons_added">
                                                        <input type="button" class="minus" value="-">
                                                        <input type="number" size="4" class="input-text qty text"
                                                               title="Qty"
                                                               th:value="${iter.getQuantity()}" min="0" step="1">
                                                        <input type="button" class="plus" value="+">
                                                    </div>
                                                </td>

                                                <td class="product-subtotal">
                                                    <span class="amount" th:text="'￥'+${iter.getGoods().getPrice()} * ${iter.getQuantity()}"></span>
                                                </td>
                                            </tr>



                                        </tbody>
                                        <!--               购物车          -->
                                        <tr>
                                            <td class="actions" colspan="6">
                                                <div class="coupon">
                                                    <label for="coupon_code">优惠卷:</label>
                                                    <input type="text" placeholder="Coupon code" value=""
                                                           id="coupon_code"
                                                           class="input-text" name="coupon_code">
                                                    <input type="submit" value="Apply Coupon" name="apply_coupon"
                                                           class="button">
                                                </div>
                                                <input type="submit" value="更新购物车" name="update_cart"
                                                       class="button">
                                                <input type="submit" value="结账" name="proceed"
                                                       class="checkout-button button alt wc-forward">
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="~{fragment/IndexFragment.html::#footer}"/>

        <!-- Latest jQuery form server -->
        <script src="js/jquery-1.8.3.min.js"></script>

        <!-- Bootstrap JS form CDN -->
        <script src="js/bootstrap.min.js"></script>

        <!-- jQuery sticky menu -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.sticky.js"></script>

        <!-- jQuery easing -->
        <script src="js/jquery.easing.1.3.min.js"></script>

        <!-- Main Script -->
        <script src="js/main.js"></script>
    </body>
</html>