<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{fragment/IndexFragment.html::baseHeader}">
        <title>我的订单</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="layer/layer.js"></script>
        <script type="text/javascript" src="js/cart.js"></script>
    </head>
    <body>

        <div th:replace="~{fragment/IndexFragment.html::#prefix}">页眉</div>
        <div th:replace="~{fragment/IndexFragment.html::#mainMenuAre}">header</div>


        <!--cart-items-->
        <div class="cart-items">
            <div class="container">


                <div style="
                     line-height: 100px;
                     height: 100px;
                ">
                    <h2  style="line-height: 1.5;display: inline-block;vertical-align: middle;">我的订单</h2 >
                </div>

                <table class="table table-bordered table-hover">

                    <tr>
                        <th width="10%">订单编号</th>
                        <th width="10%">消费</th>
                        <th width="10%">数量</th>
                        <th width="30%">收货地址</th>
                        <th width="10%">订单状态</th>
                        <th width="10%">支付方式</th>
                        <th width="10%">下单时间</th>
                        <th width="10%">查看</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(orders)}">
                        <td th:colspan="8">没有交易记录</td>
                    </tr>
                    <tr th:each="iter,orderIndex:${orders}">
                        <td th:text="${iter.getId()}"></td>
                        <td th:text="${'-'+iter.getTotal() + '￥'}"></td>
                        <td th:text="${iter.getAmount()}"></td>
                        <td th:text="${iter.getAddress()}">收货地址</td>
                        <!--<td>-->
                        <!--    <p th:text="${order.name}"></p>-->
                        <!--    <p th:text="${order.phone}"></p>-->
                        <!--    <p th:text="${order.address}"></p>-->
                        <!--</td>-->
                        <td>
                            <div th:switch="${iter.status}">
                                <p th:case="'2'">已付款</p>
                                <p th:case="'3'">已发货</p>
                                <p th:case="'4'">已完成</p>
                            </div>
                        </td>

                        <td>
                            <div th:switch="${iter.payType}">
                                <p th:case="'1'">微信</p>
                                <p th:case="'2'">支付宝</p>
                                <p th:case="'3'">货到付款</p>
                            </div>
                        </td>

                        <td th:text="${#dates.format(iter.datetime, 'yyyy-MM-dd')}">
                            下单时间
                        </td>

                        <td>
                            <!--订单接口-->
                            <a th:href="@{/order/iter(id=${iter.getId()})}">订单详情</a>
                        </td>
                    </tr>


                    <!--<c:forEach items="${orderList }" var="order">-->

                    <!--    <tr>-->
                    <!--        <td><p>${order.id }</p></td>-->
                    <!--        <td><p>${order.total }</p></td>-->
                    <!--        <td>-->
                    <!--            <c:forEach items="${order.itemList }" var="item">-->
                    <!--                <p>${item.goodsName }(${item.price }) x ${item.amount }</p>-->
                    <!--            </c:forEach>-->

                    <!--        </td>-->
                    <!--        <td>-->
                    <!--            <p>${order.name }</p>-->
                    <!--            <p>${order.phone }</p>-->
                    <!--            <p>${order.address }</p>-->
                    <!--        </td>-->
                    <!--        <td>-->
                    <!--            <p>-->
                    <!--                <c:if test="${order.status==2 }"><span style="color:red;">已付款</span></c:if>-->
                    <!--                <c:if test="${order.status==3 }"><span style="color:green;">已发货</span></c:if>-->
                    <!--                <c:if test="${order.status==4 }"><span style="color:black;">已完成</span></c:if>-->


                    <!--            </p>-->
                    <!--        </td>-->
                    <!--        <td>-->
                    <!--            <p>-->

                    <!--                <c:if test="${order.paytype==1 }">微信</c:if>-->
                    <!--                <c:if test="${order.paytype==2 }">支付宝</c:if>-->
                    <!--                <c:if test="${order.paytype==3 }">货到付款</c:if>-->

                    <!--            </p>-->
                    <!--        </td>-->
                    <!--        <td><p>${order.datetime }</p></td>-->
                    <!--    </tr>-->

                    <!--</c:forEach>-->


                </table>


            </div>
        </div>
        <!--//cart-items-->

        <div th:replace="~{fragment/IndexFragment.html::#footer}"></div>


    </body>
</html>