<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
	<head th:insert="~{fragment/IndexFragment.html::baseHeader}">
	<title>支付成功</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.css}">
	<link type="text/css" rel="stylesheet" th:href="@{css/style.css}">
	<script type="text/javascript" th:scr="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:scr="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:scr="@{/layer/layer.js}"></script>
	<script type="text/javascript" th:scr="@{/js/cart.js}"></script>
</head>
<body>


	<div th:replace="~{fragment/IndexFragment.html::#prefix}">页眉</div>

	<div th:replace="~{fragment/IndexFragment.html::#mainMenuAre}">header</div>

	
	<!--cart-items-->
	<div class="cart-items">
		<div class="container">
				<div class="alert alert-success">支付成功</div>

			<p><a class="btn btn-success" th:href="@{/order/list}">查看我的订单</a></p>
		</div>
	</div>
	<!--//cart-items-->
	

	<div th:replace="~{fragment/IndexFragment.html::#footer}"></div>


</body>
</html>