<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>注册</title>
        <link type="text/css" rel="stylesheet" th:href="@{css/zhuce.css}">
        <script type="text/javascript" th:scr="@{/js/zhuce.js}"></script>
        <script type="text/javascript" th:scr="@{/js/jquery-1.11.1.min.js}"></script>
        <script type="text/javascript">
			$(document).ready(function () {
				var height = $(document).height();
				$('.main').css('height', height);
			})
        </script>
    </head>

    <body>
        <div class="main">
            <div class="main0">
                <div class="main_right">
                    <div class="main_r_up">
                        <img th:scr="@{images/user}">
                        <div class="pp">注册</div>
                    </div>
                    <div class="sub"><p>已经注册？<a href="index.html"><span class="blue">请登录</span></a></p></div>
                    <form method="post" th:action="@{/register}">
                        <div class="txt txt0">
                            <span style="float:left">手机号:</span>
                            <input name="tel" type="text" placeholder="请输入你的手机号" class="txtyzmdx">
                        </div>
                        <div class="txt txt0">
                            <span style="letter-spacing:8px;">用户名:</span>
                            <input name="username" type="text" class="txtphone" placeholder="请输入用户名">
                        </div>
                        <div class="txt txt0">
                            <span style="letter-spacing:4px;">登录密码:</span>
                            <input name="password" type="password" class="txtphone" placeholder="请输入密码">
                        </div>
                        <div class="txt txt0">
                            <span style="letter-spacing:4px;">重复密码:</span>
                            <input name="replace" type="password" class="txtphone" placeholder="重复密码">
                        </div>
                        <div class="txt txt0">
                            <span style="letter-spacing:4px;">收货地址:</span>
                            <input name="address" type="text" class="txtphone" placeholder="请输入收货地址">
                        </div>
                        <div class="txt txt0">
                            <span style="letter-spacing:4px;">邮箱:</span>
                            <input name="email" type="text" class="txtphone" placeholder="邮箱">
                        </div>
                        <div class="txt txt0">
                            <a th:href="@{/index}"><span style=" float:left;color:#31acfb">返回首页</span></a>
                            <a href="zhuceSucc.html">
                                <input type="submit" class="zhucebtn">
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer0">
                <div class="footer_l">使用条款 | 隐私保护</div>
                <div class="footer_r">© 2023</div>
            </div>
        </div>
    </body>
</html>
