<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.shop.mapper.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.cookie.shop.pojo.OrderItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <association property="goods" select="com.cookie.shop.mapper.GoodsMapper.selectByPrimaryKey" column="goods_id">
    </association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orderitem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cookie.shop.pojo.OrderItem">
    insert into orderitem (id, price, amount, 
      goods_id, order_id)
    values (#{id,jdbcType=INTEGER}, #{price,jdbcType=REAL}, #{amount,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cookie.shop.pojo.OrderItem">
    update orderitem
    set price = #{price,jdbcType=REAL},
      amount = #{amount,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, price, amount, goods_id, order_id
    from orderitem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, price, amount, goods_id, order_id
    from orderitem
  </select>
  <select id="selectAllByOrderIdInt" resultMap="BaseResultMap">
      select id, price, amount, goods_id, order_id
      from orderitem
      where order_id = #{id,jdbcType=INTEGER}
  </select>
</mapper>