<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cookie.shop.mapper.RecommendMapper">
  <resultMap id="BaseResultMap" type="com.cookie.shop.pojo.Recommend">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recommend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cookie.shop.pojo.Recommend">
    insert into recommend (id, type, goods_id
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=BIT}, #{goodsId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cookie.shop.pojo.Recommend">
    update recommend
    set type = #{type,jdbcType=BIT},
      goods_id = #{goodsId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, type, goods_id
    from recommend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, type, goods_id
    from recommend
  </select>
</mapper>